NODE_ENV=development
DATABASE_URL=postgresql://deliverpuyo:deliverpuyo@localhost:5432/deliverpuyo
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=cambie-esta-clave-de-32-caracteres-minimo
JWT_REFRESH_SECRET=cambie-esta-otra-clave-de-32-caracteres
ACCESS_TOKEN_MINUTES=15
REFRESH_TOKEN_DAYS=7
PRODUCT_CACHE_TTL_SECONDS=120
QUEUE_ENABLED=true
ENABLE_BENCHMARK_ENDPOINTS=true
NEXT_PUBLIC_APP_NAME=DeliverPuyo
